* {
    padding: 0;
    margin: 0;
    background-color: black;
    color: #ffffff;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

header, section, footer {
    background-color: #f5f5f5;
    padding: 20px 0;
    text-align: center;
}

h1 {
    margin: 0;
    font-size: 36px;
}

h2 {
    font-size: 24px;
}

ul {
    list-style: none;
    padding: 0;
}

.project {
    margin-top: 20px;
}

footer {
    background-color: #333;
    color: #fff;
}

.container img{
    border-radius: 50%;
}